:root{
    --primary-color: #4CAF50;
    --background-color: #f1f1f1;
    --text-color: #333;
    --border-color: #ccc;
}

::selection {
    background-color: var(--primary-color);
    color: white;
    filter: invert(0) !important;
}

@font-face {
    font-family: "NotoSans";
    src: url(Noto-Sans/NotoSans-Bold.ttf)
}

body{
    font-family: "NotoSans";
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

dialog{
    width: 50%;
    max-width: 600px;
    min-width: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--background-color);
    color: var(--text-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

dialog>form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
}

dialog>form>section{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

dialog>form>label{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

dialog>form>label>input{
    flex: 1;
    margin-left: 10px;
    width: 70%;
}

#tag-add{
    display: flex;
    flex-direction: column;
    gap: 10px !important;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 20px;
    margin-bottom: 10px;
}

.logo{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin: 10px;
}


header>nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

header>nav>button>img{
    width: 30px;
    height: 30px;
}

header>nav>nav{
    display: flex;
    align-items: center;
    gap: 10px;
}

header>nav>nav>button>img{
    width: 30px;
    height: 30px;
}

noscript{
    color: red;
    font-weight: bold;
    text-align: center;
}

button{
    all: unset;
    cursor: pointer;
}

.normalButton{
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}

.normalButton:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.normalButton:active{
    transform: scale(0.95);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.red{
    background-color: red;
}

table{
    width: 100%;
    border-collapse: collapse;
    overflow: scroll;
    padding: 0 10px;
}

th, td{
    padding: 10px;
    border: 1px solid #ccc;
}

.tdTags{
    text-align: start;
    text-wrap: wrap;
}

td, th{
    text-align: center;
    width: fit-content;
}

.none{
    border: none;
    width: fit-content;
    padding: 5px;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.tag{
    border-radius: 5px;
    padding: 2px 5px;
    margin-right: 5px;
    font-weight: bold;
    cursor: pointer;
}

.menu{
    width: 30px;
    height: 30px;
}

.settings{
    padding: 20px;
}